In [4]:
print("first  python class")

first  python class

In [ ]:
#Operatiors

In [3]:
s1 = "vivek rathi"

In [10]:
s1[::4]

'vkt'

In [11]:
# list dict tuples set

In [12]:
l3 = [1,2,'vivek',4.0]

In [13]:
l3[2]

'vivek'

In [21]:
l4 = [1,2,3,4,5,6,6]
max(l4)

6

In [22]:
l5 = [1,2,"vivek",(3,"rite")]

In [34]:
l5[3][1]

'rite'

In [40]:
l5 = [[1,2,"vivek",(3,"rite")],[4,9]]
l5[0][3][1]

'rite'

In [39]:
l5[1][0]

4

In [24]:
dict_a = {'a':'apple','cur':"INR",'price':[100.00,90,111]}

In [26]:
dict_a['price'][2] = 195

In [27]:
dict_a

{'a': 'apple', 'cur': 'INR', 'price': [100.0, 90, 195]}

In [12]:
l11 = [1,2,3,4,3,2,4,5]

In [13]:
l11
print(l11)

[1, 2, 3, 4, 3, 2, 4, 5]

In [18]:
s1 = {1,2,3,4,5}
s2 = {3,4,5,9,6,7,8}

In [19]:
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [4]:
a=90
b=40
if a>b:
    pass
print('a is greater than b')

a is greater than b